{% extends "base.html" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}ajax_select/css/ajax-selects.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}ajax_select/css/autocomplete.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}ajax_select/css/iconic.css" media="screen" />
    {{ form.media }}
{% endblock %}

{% block content %}
    <form action="{% url save_book object.pk %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" />
    </form>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{{ STATIC_URL }}ajax_select/js/ajax_select.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}ajax_select/js/jquery.autocomplete.js"></script>
{% endblock %}