{% extends "base.html" %}

{% block style %}
    {{ block.super }}
    {{ form.media }}
{% endblock %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" />
    </form>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{{ STATIC_URL }}ajax_select/js/simple_widget.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}ajax_select/js/jquery.autocomplete.js"></script>
{% endblock %}