{% load i18n %}

<div class="autocomplete-select-wrapper {{ unique_id }}">
    <input type="text" name="{{ name }}_text" id="{{ html_id }}_text" value="" {{ extra_attrs }} />
    <div class="autocomplete_on_deck results_on_deck"></div>
</div>

<script type="text/javascript">
    {% block script %}
        (function($){
            $(function($){
                $('.{{ unique_id }}').each(function(i, el){
                    var wrapper = $(el),
                        text_el = wrapper.find('.autocomplete_text'),
                        deck_el = wrapper.find('.results_on_deck');

                    if(text_el.attr('name').lastIndexOf('__prefix__') == -1){
                        wrapper.removeClass('{{ unique_id }}');
                        new django.autocompleteSelectSimple({
                            text_el: text_el,
                            deck_el: deck_el,
                            lookup_url: "{{ lookup_url }}",
                            default_value: {% if current_id %}[{{ current_id }}, "{{ current_result }}"]{% else %}null{% endif %},
                            name: "{{ name }}"
                        });
                    }
                });
            });
        })(jQuery || django.jQuery);
        {% block extra_script %}{% endblock %}
    {% endblock %}
</script>