{% load i18n %}
<div class="autocomplete-multiple-select-wrapper" id="{{ unique_id }}">
    <input type="text" name="{{ name }}_text" id="{{html_id}}_text" value="{{current_name}}" {{ extra_attrs }} />
    {% block help %}
        {% if help_text %}<p class="help">{{help_text}}</p>{% endif %}
    {% endblock %}
    <p class="results_on_deck"></p>
    <input type="hidden" name="{{ name }}" id="{{html_id}}" value="{{ current_ids }}" class="autocomplete_id" />
</div>

<script type="text/javascript">
    {% block script %}
        (function($){
            $(function(){
                django.init_multiple_autocomplete_select($('#{{ unique_id }}'), {{ current_reprs }});
            });
        }(jQuery || django.jQuery));
        {% block extra_script %}{% endblock %}
    {% endblock %}
</script>